.about__achiement{
    margin-top: 3rem;
}
.about__achiement-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about__achiement-right > p{
    margin: 1.6rem 0 2.5rem;
}
.achiement-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.achiement-card{
    background: var( --color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}
.achiement-card:hover{
   background: var(--color-bg2);
   box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
}
.achiement-icon{
    background: var(--color-danger);
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.achiement-card:nth-child(2) .achiement-icon{
    background: var(--color-succes);
}
.achiement-card:nth-child(3) .achiement-icon{
    background: var(--color-primary);
}
.achiement-card p{
    margin-top: 1rem;
}
.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}
.team__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
}
.team-member{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}
.team-member:hover{
    background: transparent;
    border-color: var(--color-primary);
}
.team-member-img img{
    filter: saturate(0);
}
.team-member:hover img{
    filter: saturate(1);
}
.team-member-info{
    margin-top: 1.4rem;
    text-align: center;
}
.team-member-info p{
    color: var(--color-light);
}
.team-member-social{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0 1rem;
    box-shadow: -2rem 0 2rem rgba(0,0,0,0.3);
    transition: var(--transition);
}
.team-member-social a{
    padding: 1rem;
}
.team-member:hover .team-member-social{
    right: 0;
}
